@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Oxanium:wght@400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ocr-a-bt");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

#root {
  width: 100%;
  max-width: 431px;
  /* min-height: 100vh; */
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: visible; Allow content to determine height */
  overflow: hidden; /*Made hidden for animation transition*/
}

#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  /* background-image: url("./assets/bg-binary-code.webp"); */
  /* background-repeat: repeat;
  background-position: center;
  background-size: cover; */
  z-index: -1;
}
a {
  text-decoration: none;
}
