@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding:0
}

#root {
    width:100%;
    background-image: url('./assets/bg-binary-code.png');
    background-repeat:repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    height:max-content;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100vh;
    /* position: relative; */
  }

  /* .mainbody{
    background-image: url('./assets/bg-binary-code.png');
    background-repeat:repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: center;
  } */